/* Copyright 2018 ACSONE SA/NV
License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl). */

.rate_widget {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate_widget > input {
    display: none;
}
.rate > label:hover,
.rate > label:hover ~ label,
.rate .checked {
    color: $star-widget-color;
}
.rate_widget > label {
    float: right;
    width: 1em;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: $nps-widget-color;
}
