/* Copyright 2018 ACSONE SA/NV
License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl). */

.nps_rate_widget > label {
    width: 2em;
    height: 2em;
}
.nps_rate_widget .checked {
    @extend .o_survey_selected;
    // Surveys do not import full bootstrap so we can't extend bg-primary and text-white
    background-color: $primary;
    color: $white;
}
